<html>
<title>Wonderful app</title>
<head>
<!-- <script src="http://code.jquery.com/jquery-latest.js"></script>  -->
</head>
<body>
	<!-- <script type="text/javascript" src="{{ url_for('static', filename='submit.js') }}"></script> -->
	<form id="myForm" method="post">
	   Name: <input id="sentence" type="text" /><br /><br />
	   <input type="submit" value="Submit" />
	 </form>
	 <br/>
	 Your sentence will display below..... <br />
	 ==============================<br />
	 <div id="results">
	    <!-- All data will display here  -->
	 </div>
</body>
</html>
